<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
       <!-- Grid row -->
       <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
             <!-- Content -->
             <div class="col-md-8">
                <form>
                   <div class="input-group">
                      <input type="email" class="form-control" placeholder="Coloque seu email" required
                         >
                      <span class="input-group-btn">
                      <button class="btn btn-primary btn-small no-border-radius" type="submit"
                         ><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                      </span>
                   </div>
                </form>
             </div>
             <div class="col-md-12 mt-3">
                <small>
                Receba ofertas por email <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </small>
             </div>
          </div>
          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3">
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
             <!-- Links -->
             <h6 class="text-uppercase">Quem somos nos?</h6>
             <ul class="list-unstyled">
                <li>
                   <a href="#!"><small>Veja as nossas regras de privacidade</small></a>
                </li>
                <li>
                   <a href="#!"><small>Nossa historia</small></a>
                </li>
                <li>
                   <a href="#!"><small>Forme parte do nosso grupo</small></a>
                </li>
             </ul>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
             <!-- Links -->
             <h6 class="text-uppercase">Nossa comunidade online</h6>
             <ul class="list-unstyled">
                <li>
                   <a href="#!"><small><i class="fa fa-facebook-official" aria-hidden="true"></i>
                   Facebook</small></a>
                </li>
             </ul>
          </div>
          <!-- Grid column -->
       </div>
       <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
       <small>© Indicacoes Ninho Verde 2</small>
    </div>
    <!-- Copyright -->
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float make-fixed" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>
 </footer>