{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container mb-4 mt-4">

        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtro categoria
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" href="{{ url_for('view') }}/food">Food</a>
            </div>
        </div>

</div>

<div class="container">
    <div class="row">
        {% for ad in data %}
        <div class="col-md-4 mt-2 mb-2">
            
            <!--Card-->
            <div class="card testimonial-card shadow">
                <!--Background color-->
                <div class="card-up indigo"></div>
                <!--Avatar-->
                <div class="avatar mx-auto white">
                <img src="{{ ad.image_upload }}" class="img-fluid">
                </div>
                <div class="card-body">
                <!--Name-->
                <h6 class="font-weight-bold mb-4">{{ ad.offer }}</h6>
                <p>
                    {{ ad.description }}
                </p>
                <!--Feedback-->
                <div id="feedback mb-5">


                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <p class="dark-grey-text mt-4">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            <p>
                            <p>
                                Feedback 1
                            </p>
                          </div>
                          <div class="carousel-item">
                            <p class="dark-grey-text mt-4">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            <p>
                            <p>
                                Feedback 2
                            </p>
                          </div>
                          <div class="carousel-item">
                            <p class="dark-grey-text mt-4">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            <p>
                            <p>
                                Feedback 3
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
                
                <p>
                    <small>Publicado: 12/01/2021</small><br>
                    <a href="#"><span class="badge badge-pill badge-light mt-3">{{ ad.category }}</span></a>
                </p>
                </p>
                {% if 'user' in session %}
                <!--Contact Buttons-->
                <a class="btn btn-info btn-block" href="tel:{{ ad.phone }}"><i class="fa fa-phone-square" aria-hidden="true"></i>
                Ligar agora
                </a>
                <a class="btn btn-success btn-block" href="tel:{{ ad.phone }}"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                Whatsapp
                </a>
                <a class="btn btn-default btn-block" href="tel:{{ ad.phone }}"><i class="fa fa-external" aria-hidden="true"></i>
                Saiba mais
                </a>
                {% else %}
                <!--Contact Buttons-->
                <a class="btn btn-info btn-block" href="{{ url_for('login') }}"><i class="fa fa-phone-square" aria-hidden="true"></i>
                Ligar agora
                </a>
                <a class="btn btn-success btn-block" href="{{ url_for('login') }}"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                Whatsapp
                </a>
                {% endif %}
                </div>
            </div>
            <!--Card-->
            
        </div>
        {% endfor %}
    </div>
</div>
<div class="container mt-4">
    <!--PAGINATION-->
    <nav aria-label="navigation mx-auto">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    <!--PAGINATION-->
</div>


{% endblock %}